* {
    margin: 0;
    box-sizing: border-box;
}

$color-main-dark: #1C1D25;
$color-main-grey: #b0b2c3;
$color-main-bright: #ECECEC;

#app {
    position: relative;
}

body {
    font-family: "Unbounded-Regular";
    letter-spacing: 2px;
    background: #F3F3F3;

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: $color-main-dark;
    }
}




//h1 {
//    font-family: "Unbounded-Bold";
//}

h1 {
    font-family: "Unbounded-Bold";
    font-size: 35px;
}

h2 {
    font-family: "Unbounded-Regular";
    font-size: 30px;
    line-height: 40px;

    &.section-title {
        color: #4a4a4a;
        text-align: center;
        margin-bottom: 40px;
    }
}


p {
    //font-family: 'Caveat', cursivnonoe;
    //font-family: 'Klee One', cursive;
    font-family: 'Merriweather', serif;
    //font-family: 'Montserrat', sans-serif;
    //font-family: 'Open Sans', sans-serif;
    //font-family: 'Roboto', sans-serif;
    //font-family: 'EB Garamond', serif;
    //font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    letter-spacing: 2px;
    font-size: 17px;
    color: $color-main-dark;

}

input {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

label {
    font-family: "Unbounded-Light";
}

span {
    font-family: "Unbounded-Light";
}

a {
    text-decoration: none;

    &.link {
        display: block;
        padding: 10px 0;
        position: relative;
        color: #b0b2c3;
        transition: color .35s ease;
        text-decoration: none;
        cursor: pointer;
        font-family: "Unbounded-Light";

        &:before, &:after {
            content: "";
            position: absolute;
            bottom: 3px;
            right: 0;
            left: auto;
            width: 0;
            height: 3px;
            z-index: 2;
        }

        &:before {
            background-color: #235aa6;
            transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s;
        }

        &:after {
            background-color: #f25757;
            transition: all .25s cubic-bezier(.694, .048, .335, 1);
        }


        &:hover {
            color: white;

            &:before, &:after {
                width: 100%;
                left: 0;
            }
        }
    }

}


.width-restricted {
    max-width: 1100px;
    margin: auto;
}


